

.navbar-brand{
	font-weight: 800;
	color: #222d3f !important;
	font-size: 2em;
}

#lancamentos, #destaque, #prova-social, #documentario, #novidades{
	padding-top: 3em;
	padding-bottom: 3em;
}

h1, h2, h3{
	color: #222d3f;
	margin-bottom: 2em;
	font-weight: 800;
}

.no-padding{
	padding: 0;
}

.margin-auto{
	margin: 0 auto;
}

.margin-zauto{
	margin: 0 auto;
}

p span{
	margin-right: 20px;
}

.menu{
	margin-top: 1em;
}

ul.navbar-nav li {
	border-right: 1px solid black;
}

.d-flex input{
    background-color: transparent;
    border-left: transparent;
    border-radius: 0;
}

#basic-addon1{
    border-right: none;
    background-color: transparent;
	border-radius: 0;
	padding-right: 0;
}

.form-control:focus{
	box-shadow: none;
    border-color: #ced4da;
    background-color: transparent;
}

#lancamentos, #documentario{
	background-color: #eeeeee;
}


.carousel-indicators [data-bs-target]{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: black;
}

#lancamentos iframe{
	width: -webkit-fill-available;
	height: 100%;
}

.text-right{
	text-align: right;
}

.botao{
	margin-top: 3em;
	margin-bottom: 3em;
}

.botao a{
	text-decoration: none;
	color: white;
}

#documentario iframe{
	width: -webkit-fill-available;
	height: 13em;
}

#documentario h3{
	margin-top: 1em;
	margin-bottom: 1em;
}

#documentario h2, #novidades h2{
	margin-bottom: 1em;
}

#novidades h4{
	color: #222d3f;
	font-weight: 800;
}

#novidades .border-bottom{
	padding-bottom: 1em;
	margin-bottom: 2em;
}

#novidades h4{
	margin-bottom: 1em;
}

#novidades a {
	text-decoration: none;
	padding: 0;
}

#novidades p {
	color: initial;
}

#novidades p svg {
	margin-bottom: 3px;
}

#novidades svg.social_icon{
	width: 30px;
	height: 30px;
	fill: #222d3f;
	margin-right: 15px;
}

#rodape {
	background-color: #e1e1e1;
	padding-top: 2em;
	padding-bottom: 2em;
}

#rodape p, #rodape h3{
	margin: 0;
}

#rodape a{
	text-decoration: none;
}

@media (min-width: 767.98px) { 

	#carouselExampleIndicators{
		height: 45em;
	}
}

@media (max-width: 767.98px) {

	h1{
		font-size: 3em;
	}

	h2{
		font-size: 2em;
		text-align: center;
	}
	
	.navbar{
		height: 5em;
	}

	#menu {
		background-color: rgb(255,255,255,.9);
		z-index: 99;
	    padding-bottom: 1em;
	    padding-top: 1em;
	}

	#menu li {
		padding: 1em 0;
	}

	#lancamentos iframe{
		height: 12em;
	}

	#carouselExampleIndicators{
		height: 55em;
	}

	#prova-social{
		text-align: center;
	}

	#prova-social .col-sm-4, #documentario .col-sm-4, #novidades .col-sm-4{
		margin-bottom: 3em;
	}

	#novidades h2{
		margin-bottom: 1em;
		margin-top: 2em;
	}

	.text-right{
		text-align: center;
	}

	#rodape p{
	    font-size: 1.2em;
	    margin-bottom: 2em;
	}

	#rodape h3{
		font-size: 1.8em;
	}
}